@import url(../css/font.css);
@import url(../css/keyframanimation.css);
*{
    transition: all 0.3s;
}
body{
    font-family: 'Poppins',sans-serif;
}
html, body {
height: 100%;
}
#root {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
}
footer {
    margin-top: auto;
}
::selection { background: #ff3d00;color:#ffffff; }
/* :root{
    
} */
/* master Classes */
.y_pad{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.md-y-pad{
    padding-top: 1rem;
    padding-bottom: 3rem;
}
h1{
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
}
/* maintheme styling */
/* ==========================header========================== */
.navigation_web {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #ffffff;
}
.logo-wb a img {
    height: auto;
    width: 160px;
}
.naigation-web-links > ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 2rem;
}
.naigation-web-links > ul > li > a {
    text-decoration: none;
    padding: 1.2rem;
    font-size: clamp(12px,4vw,14px);
    color: #030a1e;
    font-weight: 500;
    transition: all 0.2s;
    position: relative;
}
.naigation-web-links > ul > li > a:hover {
    color: #ff3d00;
}
.dual_btn {
    display: flex;
    align-items: center;
}

.ham-ico {
    padding-right: 2rem;
}
.dual_btn.hamburger div.ham-ico:hover {
    background: #ff3d00;
}
.dual_btn.hamburger div.ham-ico:hover i {
    color: #ffffff;
}
/* topbar */
.top-mng {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top_social ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0.3rem;
}
.top_social ul li {
    padding-left: 0.5rem;
}

/* ==========Footer=========== */

.main-topbar {
    background: #050a1e;
    padding: 0.6rem;
}
.main-topbar p {
    color: #fff;
    margin: 0;
    font-size:clamp(10px,4vw,12px);
    display: flex;
    align-items: center;
    justify-content: center;

}
.top_text p i {
    color: #ff3d00;
    margin-right: 0.3rem;
    font-size: 1rem;
}
.top_social ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}
.top_social {
    display: flex;
    align-items: center;
}

p.f-us {
    position: relative;
    margin-right: 1rem;
}

p.f-us::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -33px;
    transform: translateY(-50%);
    height: 2px;
    width: 50%;
    background: #ff3d00;
}
.top_social ul li:nth-of-type(1) a {color:#f7ca04;} 
.top_social ul li:nth-of-type(2) a {color:#3b5998;} 
.top_social ul li:nth-of-type(3) a {color:#0668E1;} 
.top_social ul li:nth-of-type(4) a {color:#0077b5; } 
 
.theme_btn a {
    background: #ff3d00;
    padding: 14px 20px;
    border-radius: 50px;
    color: #fff;
    font-size: clamp(10px,4vw,12px) !important;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}
.theme_btn a:hover {
    background: #000;
}
.dual_btn.hamburger div.ham-ico {
    height: 35px;
    width: 35px;
    background: #e9e6e1;
    margin: 0 auto;
    border-radius: 50%;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}
.inner_Foter p {
    margin: 0;
    text-align: center;
    padding: 0.5rem;
    color: #4f5156;
    font-size: 0.8rem;
    font-weight: 600;
}
.naigation-web-links > ul > li > a.active {color: #fff;    box-shadow: rgb(245 26 26 / 50%) 0px 30px 60px -12px inset, rgb(255 0 0 / 50%) 0px 18px 36px -18px inset;z-index: 2;}

.naigation-web-links > ul > li > a:before,.naigation-web-links > ul > li > a:after {
    content: "";
    position: absolute;
    top: 50%;
    background: #ff3d00;
    height: 108%;
    width: 0;
    z-index: -1;
    transition: all 0.7s;
    transform: translate(0%,-50%);
}

.naigation-web-links > ul > li > a:before {
    left: 0%;
}

.naigation-web-links > ul > li > a:after {
    right: 0%;
}

.naigation-web-links > ul > li > a.active:before{
    width: 51%;
    left: 50%;
}
.naigation-web-links > ul > li > a.active:after{
    width: 51%;
    right: 50%;
}
/* animation apply */
span.animate-left {
animation: rolingtop 2s infinite linear;
display: inline-block;
}
span.animate-right {
animation: rolingtop 2s infinite linear;
display: inline-block;
}
span.eyeflip {
animation: eyeFiper 0.20s infinite linear;
display: inline-block;
}
/* main menu */
/* .naigation-web-links {
    display: none;
} */
.menu-fx {
    position: absolute;
    left: 0;
    top: 20%;
    background: #ff3d00;
    padding: 2rem 0.2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    display: flex;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 0.8rem;
    display: none;
}
.menu-fx span {
    display: inline-block;
    writing-mode: tb-rl;
}
.menu-fx:hover {
    background: #030a1e;
    box-shadow: rgba(0, 0, 0, 0.25) 1px -1px 9px 4px, rgba(0, 0, 0, 0.22) 12px 1px 20px 0px;
}
/* sidebar address */
.adreebar {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 34vw;
    background: #030a1e;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    z-index: 999999;
    overflow-y: auto;
    transform: translateX(100%);
}
.adreebar .sidebar-address ul{
    list-style:none;
    margin-bottom:0;
    padding-bottom: 2rem;
    padding-left: 0;
}
.sidebar-address {
    width: calc(100% - 14%);
}
.adreebar .sidebar-address ul li {
    line-height: 1.9;
}
.adreebar .sidebar-address ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.8rem;
}
.adreebar .sidebar-address ul li a:hover {
    color: #ff3d00;
}
.addr{
    line-height: 1.5 !important;
    display: inline-block;
}
.sidebar-address h5 {
    font-weight: 400;
    font-size: clamp(18px,4vw,22px);
    color: #ffffff;
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 0.2rem;
}
.sidebar-address h5:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1.5px;
    width: 36%;
    background: #ff3d00;
    border-radius: 100px;
}
.add-lg-holder{
    margin-top: 1rem;
}
.add-lg-holder img {
    height: 134px;
    width: 134px;
}
.add-lg-holder p {
    color: #fff;
    margin-bottom: 2rem;
}
/* ===========social links=========== */
ul.social-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    margin: 0 auto;
}
ul.social-links li a {
    height: 55px;
    width: 55px;
    background: #ff3d00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.3s;
    line-height: 1;
}
ul.social-links li a:hover {
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-3px);

}
ul.social-links li a i {font-size: 1.4rem;}
ul.social-links li:hover a i {
    color: #ff3d00;
}
/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff3d00;
  }
  .toggle-left{
    transform: translateX(0);
  }
  /* close button */
  .close-btn {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff3d00;
    position: absolute;
    transition: all 0.3s;
    top: 0;
    right: 10px;
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.close-btn:hover {
    background-color: #ffffff;
}
.close-btn:hover i {
    color: #ff3d00;
}
.close-btn i {
    color: #ffffff;
    font-size: 1.6rem;
}
/* banner image */
.b-imgHolder {
    height: 100%;
    width: 100%;
}
.b-imgHolder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.baner-content {
    width: 380px;
    margin: 0 auto;
    color: #ffff;
    padding: 2rem 0;
}
.baner-content h1 {
    font-weight: 600;
}
.baner-content > p {
    position: relative;
    padding-left: 0.8rem;
    margin: 2rem 0;
    font-size: 0.8rem;
}
.baner-content > p:before {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    left: 0;
    top: 53%;
    background: #ff3d00;
    transform: translateY(-50%);
}
/* inspect style */
.b-imgHolder {
    height: 100vh;
    width: 100%;
}
.b-imgHolder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main_conson {
    width: 100%;
    background: #030a1e;
    color: #fff;
    padding-top: 49.19px;
    position: relative;
    overflow: hidden;
}
header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 12;
}
/* after before layer stying */
.main_conson:before {
    content: "";
    position: absolute;
    top: 49.19px;
    left: 0;
    height: 200px;
    width: 400px;
    background-image: url(/src/assets/images/layer-style.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index:10;
}
.main_conson:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -1px;
    background-image: url(/src/assets/images/layer-style.png);
    height: 180px;
    width: 250px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-size: contain;
}
.sp_style{
    color: #ff3d00;
}
.tbg-white a:hover{
    background: #ffffff !important;
    color: #ff3d00;
    font-weight: 600;
}
.xs-dimtion{
    height: 100vh;
    display: flex;
    align-items: center;
    transform: translateX(115px);
    background: #010a1e;
    border-bottom-right-radius: 140px;
    position: relative;
    z-index: 9;
}

.bx-style{position: relative;}
.bx-style:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 44px;
    transform: translateY(-50%);
    height: 140px;
    width: 140px;
    background-image: url(/src/assets/images/dot_style.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}
.bx-style:after{
    content: "";
    position: absolute;
    height: 200px;
    width: 500px;
    background-image: url(/src/assets/images/line_style.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 11;
    left: 10px;
    bottom: 0;
}
/* serives card section */
.ico-sr img {
    height: 70px;
    width: 70px;
    transform: translateX(-37px)translateY(-14px);
}
.ico-sr {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background: rgb(242 181 181 / 17%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.srv-item {
    padding: 2rem;
    background: #ffffff;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top: 3px solid #ff3d00;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    overflow: hidden;
}
.srv-item:before {
    content: "";
    height: 100%;
    width: 100%;
    background:transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(0.3)translate(800px, 1000px);
    transition: all 0.5s cubic-bezier(1, -0.58, 0, 1.2);
}
.srv-item:hover::before {
    transform: scale(1)translate(0px, 0px);
    z-index: 1;
}
.sr-1:hover::before {
    background-image: url(/src/assets/images/service/item-1.jpg);
}
.sr-2:hover::before {
    background-image: url(/src/assets/images/service/item-2.jpg);
}
.sr-3:hover::before {
    background-image: url(/src/assets/images/service/item-3.jpg);
}
.main-services {
    transform: translateY(-18px);
    z-index: 14;
    position: relative;
}
.srv-item h3 {
    font-size: 1.4rem;
    font-weight: 600;
}
.srv-item p {
    font-size: 0.9rem;
    color: #72706d;
    margin: 1.2rem 0 2rem;
}
span.line-ser {
    display: inline-block;
    height: 4px;
    background: #ff3d00;
    width: 58px;
    border-radius: 50px;
    position: relative;
}
span.line-ser:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -23px;
    width: 16px;
    height: 4px;
    background: #ff3d00;
    border-radius: 50px;
}
/* srv card header */
.sr-header {
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 23;
    background: #000a1ed6;
    width: 100%;
    padding: 3rem 2rem;
    transition: all 0.5s ease-in-out;
}
.srv-title h2 {
    color: #ffffff;
    font-size: 1.6rem;
}
.srv-title h2>span {
    color: #ff3d00;
    display: block;
    margin-bottom: 0.8rem;
    font-size: 60%;
    padding-left: 3rem;
    position: relative;
    font-weight: 700;
}
.srv-title h2>span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 35px;
    background: #ff3d00;
}
.rd-more a {
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    height: 50px;
    width: 50px;
    background: #ff3d00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s !important;
}
.rd-more a > i{ 
    font-size: 1.2rem;
    font-weight: 500;
}
.rd-more a:hover{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.rd-more a:hover i{
    color: #010a1e;
  }
.srv-item:hover .sr-header{
    top: 0;
}
/* theme Heading */
span.sub-hd {
    display: block;
    position: relative;
    font-size: 54%;
    padding-left: 3rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
    color: #ff3d00;
}
span.sub-hd:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 38px;
    background: #ff3d00;
}

h2.theme_h {
    font-weight: 700;
    font-size: 2.2rem;
}
/* about consen seciton ++++++++++++======================================= */
.cn-ab-imgholder {
    height: 100%;
    width: 100%;
}
.cn-ab-imgholder img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.cn-b {margin: 2rem 0;}
ul.list-stl {
    padding-left: 0;
    list-style: none;
    line-height: 2.4;
}
ul.list-stl li > i {
    height: 20px;
    width: 20px;
    font-size: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff3d00;
    border-radius: 50%;
    margin-right: 0.4rem;
    border: 1px solid #ff3d00;
}
ul.list-stl li {
    display: flex;
    align-items: center;
    color: #808080;
}
.cn-b p {
    color: #808080;
}
.pr-crl {
    display: flex;
    align-items: center;
}
.clt > p {
    color: #333333;
    font-weight: 600;
    padding-left:1.2rem;
}

/* temp css=============================] */
h1.temp-height {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}